
/* parent div */
.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.1rem;
  line-height: 0;
}

.experience h1 {
  margin-bottom: 2rem;
  padding: 1rem;
}

/* editing div */
.editingExperienceInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.editingExperienceInfo div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.editingExperienceInfo div:first-child {
  grid-row: 1/2;
}

.editingExperienceInfo div:nth-child(2){
  grid-row: 2/3;
  grid-column: 1/3;
}

.editingExperienceInfo div:nth-child(3){
  grid-row: 3/4;
  grid-column: 1/2;
}

.editingExperienceInfo div:nth-child(4){
  grid-row: 3/4;
  grid-column: 2/3;
}

.editingExperienceInfo label {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.editingExperienceInfo input , .editingExperienceInfo textarea{
  padding: 0.5rem;
}

.editingExperienceInfo #desc{
  width: 100%;
  height: 2rem;
  text-align: center;
}

/*submitted div */

.submittedExperienceInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.submittedExperienceText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.submittedExperienceText div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.submittedExperienceText div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.submittedExperienceText div:nth-child(2) p{
  align-self: flex-start;
  margin: 0.5rem 0;
  width: 15rem;
  max-height: 15rem;
  line-height: 1rem;
}

.submittedExperienceText button {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem 0 1rem;
  font-weight: bold;
  background-color: whitesmoke;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: whitesmoke;
}
